body {
    padding: 0;
    margin: 0;
}

#map,
body,
html {
    height: 100%;
}

h2 {
    color: black;
    padding: 0;
    padding-left: 35px;
    margin: 0;
    font-size: 30px;
}

.custom .leaflet-popup-tip,
.custom .leaflet-popup-content-wrapper {
    background: #5deb74;
    color: #234c5e;
}

.custom2 .leaflet-popup-tip,
.custom2 .leaflet-popup-content-wrapper {
    background: #e0f56a;
    color: #234c5e;
}

.custom3 .leaflet-popup-tip,
.custom3 .leaflet-popup-content-wrapper {
    background: #ff8750;
    color: #234c5e;
}


/* CSS from the Leaflet-Choropleth documentation */

.legend {
    padding: 6px 8px;
    font: 12px Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #555;
    background: #fff;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    column-count: 2;
}

.legend ul {
    padding: 0;
    margin: 0;
    clear: both;
    list-style-type: none;
    text-align: center;
}

.legend li {
    display: inline-block;
    width: 30px;
    height: 22px;
}

.range1 {
    background-color: #5deb74;
}

.range2 {
    background-color: #e0f56a;
}

.range3 {
    background-color: #ff8750;
}

.legend ul.test {
    float: right;
    position: relative;
}